/* Write your CSS here */
.team-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  background-image: linear-gradient(red, blue);
}

.team-matches-body-container {
  width: 100%;
  height: inherit;
}
.team-banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.match-card-list-container {
  list-style-type: none;
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  .team-matches-container {
    font-size: 0.6rem;
  }
}
